# Supabase Configuration
VITE_SUPABASE_URL=https://vajbxqcqkobjodhevqat.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhamJ4cWNxa29iam9kaGV2cWF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5Mjc0OTQsImV4cCI6MjEwMDUwMzQ5NH0.mU6uom7F-QOyIgMyIdllv5XwMqFyO96lazOwyCm24HU
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_BKt9idkpBkda2SIKo6eCiA_BDn9JHr-
